---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/mailboxes/61187/folders.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 404
      message: 
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 13 May 2016 10:42:18 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/mailboxes/74251/folders.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"count":7,"items":[{"id":890431,"name":"Unassigned","type":"open","userId":0,"totalCount":1,"activeCount":1,"modifiedAt":"2016-05-13T10:58:23Z"},{"id":890437,"name":"Mine","type":"mine","userId":120780,"totalCount":1,"activeCount":1,"modifiedAt":"2016-05-12T09:53:06Z"},{"id":890432,"name":"Needs
        Attention","type":"needsattention","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2016-05-12T09:53:06Z"},{"id":890433,"name":"Drafts","type":"drafts","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2016-05-13T10:58:24Z"},{"id":890434,"name":"Assigned","type":"assigned","userId":0,"totalCount":1,"activeCount":1,"modifiedAt":"2016-05-12T09:53:06Z"},{"id":890436,"name":"Closed","type":"closed","userId":0,"totalCount":3,"activeCount":0,"modifiedAt":"2016-05-13T10:58:23Z"},{"id":890435,"name":"Spam","type":"spam","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2016-05-12T09:53:06Z"}]}'
  recorded_at: Fri, 13 May 2016 10:59:29 GMT
recorded_with: VCR 3.0.1
