---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/search/conversations.json?query=ConversationTest.test_create
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"count":2,"items":[{"id":202521075,"number":4,"mailboxId":74251,"subject":"ConversationTest.test_create","status":"closed","threadCount":1,"preview":"this
        is a test message....","customerName":"noitasrevnoC tseT","customerEmail":"test@example.com","modifiedAt":"2016-05-13T10:27:15Z"},{"id":202527237,"number":5,"mailboxId":74251,"subject":"ConversationTest.test_create","status":"closed","threadCount":2,"preview":"test
        attachment...","customerName":"noitasrevnoC tseT","customerEmail":"test@example.com","modifiedAt":"2016-05-13T10:52:35Z"}]}'
  recorded_at: Fri, 13 May 2016 11:29:39 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/search/conversations.json?query=We%27re+here+for+you
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"count":1,"items":[{"id":202112521,"number":3,"mailboxId":74251,"subject":"We''re
        here for you","status":"active","threadCount":2,"preview":"Just testing, please
        ignore this message. Test attachments....","customerName":"Help Scout","customerEmail":"help@helpscout.net","modifiedAt":"2016-05-13T11:31:11Z"}]}'
  recorded_at: Fri, 13 May 2016 11:32:13 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/search/customers.json?query=Test+Customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":0,"count":0,"items":[]}'
  recorded_at: Fri, 13 May 2016 11:33:05 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/search/customers.json?query=Help+Scout
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"count":1,"items":[{"id":81767317,"firstName":"Help","lastName":"Scout","fullName":"Help
        Scout","emails":["help@helpscout.net"],"photoUrl":"http://1.gravatar.com/avatar/7d599977ec288a9141317b352c04d497","photoType":"gravatar","gender":"unknown","age":null,"organization":null,"jobTitle":null,"location":null,"createdAt":"2016-05-12T09:53:06Z","modifiedAt":"2016-05-12T09:53:25Z"}]}'
  recorded_at: Fri, 13 May 2016 11:34:07 GMT
recorded_with: VCR 3.0.1
