---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=ec62c7106042406e80686fca3a80bec1&client_secret=9d51b66663914cf9a082470ac078c0f5&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"8ba6b867f18b42ec8ae08a286c631b13","expires_in":7200}

'
  recorded_at: Wed, 05 Jun 2019 10:23:27 GMT
[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#55743986
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '389'
    body:
      encoding: UTF-8
      string: '{"id":382693,"firstName":"Phureewat","lastName":"Aphibansri","email":"a.phureewat@gmail.com","role":"owner","timezone":"Asia/Bangkok","createdAt":"2019-05-29T06:48:39Z","updatedAt":"2019-06-05T10:14:49Z","type":"user","companyId":96696,"_links":{"self":{"href":"https://api.helpscout.net/v2/users/382693"}}}'
  recorded_at: Wed, 05 Jun 2019 10:23:30 GMT
recorded_with: VCR 5.0.0
