---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/users/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"item":{"id":120780,"firstName":"Chakrit","lastName":"Wichian","fullName":"Chakrit
        Wichian","email":"helpscout@chakrit.net","role":"owner","timezone":"Asia/Bangkok","photoUrl":null,"type":"user","companyId":46155,"createdAt":"2016-05-12T09:52:30Z","modifiedAt":"2016-05-12T22:00:50Z"}}'
  recorded_at: Fri, 13 May 2016 09:55:00 GMT
- request:
    method: put
    uri: https://api.helpscout.net/v1/users/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":404,"error":"The specified resource was not found: ''/v1/users/me.json''"}'
  recorded_at: Fri, 13 May 2016 09:55:01 GMT
[...]
- request:
    method: delete
    uri: https://api.helpscout.net/v1/users/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":404,"error":"The specified resource was not found: ''/v1/users/me.json''"}'
  recorded_at: Fri, 13 May 2016 09:55:06 GMT
recorded_with: VCR 3.0.1
