---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=ec62c7106042406e80686fca3a80bec1&client_secret=9d51b66663914cf9a082470ac078c0f5&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"61d0a3d4bc2747c4b77d01ea67e86205","expires_in":7200}

'
  recorded_at: Wed, 05 Jun 2019 10:23:04 GMT
[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/866372793
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - c134d022-ecd9-4668-a1f0-5ec26c2b1f78#6107841
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"id":866372793,"number":152,"threads":3,"type":"email","folderId":2986322,"status":"active","state":"published","subject":"Software
        Clown #1: be more careful when you know less","preview":"I can imagine when
        you want some attribute to be only readable, or be writable and readable,
        but not when you want an attribute to be writable and not readable.","mailboxId":185191,"createdBy":{"id":382693,"type":"user","first":"Phureewat","last":"Aphibansri","email":"a.phureewat@gmail.com"},"createdAt":"2019-05-30T14:05:25Z","closedBy":0,"userUpdatedAt":"2019-05-30T14:14:06Z","customerWaitingSince":{"time":"2019-05-30T14:14:06Z","friendly":"5
        days ago"},"source":{"type":"web","via":"user"},"tags":[],"cc":[],"bcc":[],"primaryCustomer":{"id":259532077,"type":"customer","first":"","last":"","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/03.png","email":"kenneth.ro.m1.919.92@gmail.com"},"customFields":[],"_links":{"closedBy":{"href":"https://api.helpscout.net/v2/users/0"},"createdByUser":{"href":"https://api.helpscout.net/v2/users/382693"},"mailbox":{"href":"https://api.helpscout.net/v2/mailboxes/185191"},"primaryCustomer":{"href":"https://api.helpscout.net/v2/customers/259532077"},"self":{"href":"https://api.helpscout.net/v2/conversations/866372793"},"threads":{"href":"https://api.helpscout.net/v2/conversations/866372793/threads/"},"web":{"href":"https://secure.helpscout.net/conversation/866372793/152"}}}'
  recorded_at: Wed, 05 Jun 2019 10:23:06 GMT
[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/866372793/threads/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#6020622
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '398'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"threads":[{"id":2422566376,"type":"message","status":"active","state":"published","action":{"type":"original-author"},"body":"I
        can imagine when you want some attribute to be only readable, or be writable
        and readable, but not when you want an attribute to be writable and not readable.<br
        />","source":{"type":"web","via":"user"},"customer":{"id":259532077,"first":"","last":"","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/03.png","email":"kenneth.ro.m1.919.92@gmail.com"},"createdBy":{"id":382693,"type":"user","first":"Phureewat","last":"Aphibansri","email":"a.phureewat@gmail.com"},"assignedTo":{"id":1,"first":"Help","last":"Scout","email":"none@nowhere.com"},"savedReplyId":0,"to":[],"cc":[],"bcc":[],"createdAt":"2019-05-30T14:14:06Z","_embedded":{"attachments":[{"id":196819958,"filename":"hello.txt","mimeType":"text/plain","width":0,"height":0,"size":12,"_links":{"data":{"href":"https://api.helpscout.net/v2/conversations/866372793/attachments/196819958/data"},"self":{"href":"https://api.helpscout.net/v2/conversations/866372793/attachments/196819958"},"web":{"href":"https://secure.helpscout.net/file/196819958/3da50d826ba36d735824279d447c3e3a5fcdfa67/hello.txt"}}}]},"_links":{"assignedTo":{"href":"https://api.helpscout.net/v2/users/1"},"createdByUser":{"href":"https://api.helpscout.net/v2/users/382693"},"customer":{"href":"https://api.helpscout.net/v2/customers/2[...]
