---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=ec62c7106042406e80686fca3a80bec1&client_secret=9d51b66663914cf9a082470ac078c0f5&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"70697e5b624f45798bcb533e092ec897","expires_in":7200}

'
  recorded_at: Wed, 05 Jun 2019 10:14:45 GMT
[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers/259533163
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#6013549
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"id":259533163,"firstName":"Girl","lastName":"Scout","gender":"Unknown","photoType":"default","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/05.png","createdAt":"2019-05-30T14:07:58Z","updatedAt":"2019-06-05T07:58:51Z","background":"","_embedded":{"emails":[{"id":349140906,"value":"test@example.com","type":"other"}],"websites":[],"chats":[],"phones":[],"social_profiles":[]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/259533163/address/"},"chats":{"href":"https://api.helpscout.net/v2/customers/259533163/chats/"},"emails":{"href":"https://api.helpscout.net/v2/customers/259533163/emails/"},"phones":{"href":"https://api.helpscout.net/v2/customers/259533163/phones/"},"self":{"href":"https://api.helpscout.net/v2/customers/259533163"},"social-profiles":{"href":"https://api.helpscout.net/v2/customers/259533163/social-profiles/"},"websites":{"href":"https://api.helpscout.net/v2/customers/259533163/websites/"}}}'
  recorded_at: Wed, 05 Jun 2019 10:14:48 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - ec159308-58f3-42b7-827a-2788227a7d8c#35608080
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '398'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"customers":[{"id":259533163,"firstName":"Girl","lastName":"Scout","gender":"Unknown","photoType":"default","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/05.png","createdAt":"2019-05-30T14:07:58Z","updatedAt":"2019-06-05T07:58:51Z","background":"","_embedded":{"emails":[{"id":349140906,"value":"test@example.com","type":"other"}],"websites":[],"chats":[],"phones":[],"social_profiles":[]},"_links":{"address":{"href":"https://api.helpscout.net/v2/customers/259533163/address/"},"chats":{"hre[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/customers?mailbox_id=185191
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - ec159308-58f3-42b7-827a-2788227a7d8c#35608285
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-[...]
