---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/mailboxes/74251/conversations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"count":5,"items":[{"id":202527237,"type":"email","folderId":890436,"isDraft":false,"number":5,"owner":null,"mailbox":{"id":74251,"name":"Support"},"customer":{"id":81876656,"firstName":"noitasrevnoC","lastName":"tseT","email":"test@example.com","phone":null,"type":"customer","emails":["test@example.com"]},"threadCount":2,"status":"closed","subject":"ConversationTest.test_create","preview":"test
        attachment","createdBy":{"id":120780,"firstName":"Chakrit","lastName":"Wichian","email":"helpscout@chakrit.net","phone":null,"type":"user"},"createdAt":"2016-05-13T10:52:18Z","userModifiedAt":"2016-05-13T10:52:35Z","closedAt":"2016-05-13T10:52:35Z","closedBy":{"id":120780,"firstName":"Chakrit","lastName":"Wichian","email":"helpscout@chakrit.net","phone":null,"type":"user"},"source":{"type":"api","via":"user"},"createdByType":"user","cc":null,"bcc":null,"tags":[],"draft":false,"spam":false},{"id":202521075,"type":"email","folderId":890436,"isDraft":false,"number":4,"owner":null,"mailbox":{"id":74251,"name":"Support"},"customer":{"id":81876656,"firstName":"noitasrevnoC","lastName":"tseT","email":"test@example.com","phone":null,"type":"customer","emails":["test@example.com"]},"threadCount":1,"status":"closed","subject":"ConversationTest.test_create","preview":"this
        is a test message.","createdBy":{"id":120780,"firstName":"Chakrit","lastName":"Wichian","email":"helpscou[...]
[...]
