---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/search/conversations.json?query=ConversationTest.test_create
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YTIwZjRhZWViN2I3N2MzNzk4MWI2MTE1MzA3NmFjZTVjODg4OTNkYjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Correlation-ID:
      - fd284b05-5216-418a-966c-99d852880139#7118080
      X-RateLimit-Interval-burst:
      - '5'
      X-RateLimit-Interval-minute:
      - '60'
      X-RateLimit-Limit-burst:
      - '12'
      X-RateLimit-Limit-minute:
      - '200'
      X-RateLimit-Remaining-burst:
      - '12'
      X-RateLimit-Remaining-minute:
      - '196'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"count":1,"items":[{"id":656937392,"number":157,"mailboxId":158814,"subject":"ConversationTest.test_create","status":"active","threadCount":2,"preview":"test
        attachment...","customerName":"noitasrevnoC tseT","customerEmail":"test@example.com","hasAttachments":true,"modifiedAt":"2018-09-05T14:06:37Z"}]}'
  recorded_at: Wed, 05 Sep 2018 14:17:41 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/search/customers.json?query=noitasrevnoC+tseT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YTIwZjRhZWViN2I3N2MzNzk4MWI2MTE1MzA3NmFjZTVjODg4OTNkYjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Correlation-ID:
      - a6ee3949-ec16-4b39-92bc-3600adc3f671#7280625
      X-RateLimit-Interval-burst:
      - '5'
      X-RateLimit-Interval-minute:
      - '60'
      X-RateLimit-Limit-burst:
      - '12'
      X-RateLimit-Limit-minute:
      - '200'
      X-RateLimit-Remaining-burst:
      - '12'
      X-RateLimit-Remaining-minute:
      - '195'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"count":1,"items":[{"id":203786875,"firstName":"noitasrevnoC","lastName":"tseT","fullName":"noitasrevnoC
        tseT","emails":["test@example.com"],"photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/02.png","photoType":"unknown","gender":"unknown","age":null,"organization":null,"jobTitle":null,"location":null,"createdAt":"2018-09-05T13:39:31Z","modifiedAt":"2018-09-05T13:45:26Z"}]}'
  recorded_at: Wed, 05 Sep 2018 14:17:42 GMT
recorded_with: VCR 4.0.0
