---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/mailboxes/158814/folders.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YTIwZjRhZWViN2I3N2MzNzk4MWI2MTE1MzA3NmFjZTVjODg4OTNkYjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Correlation-ID:
      - a6ee3949-ec16-4b39-92bc-3600adc3f671#7254119
      X-RateLimit-Interval-burst:
      - '5'
      X-RateLimit-Interval-minute:
      - '60'
      X-RateLimit-Limit-burst:
      - '12'
      X-RateLimit-Limit-minute:
      - '200'
      X-RateLimit-Remaining-burst:
      - '12'
      X-RateLimit-Remaining-minute:
      - '199'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"count":7,"items":[{"id":2306054,"name":"Unassigned","type":"open","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2018-09-05T13:52:01Z"},{"id":2306060,"name":"Mine","type":"mine","userId":308775,"totalCount":1,"activeCount":1,"modifiedAt":"2018-09-05T13:21:12Z"},{"id":2306055,"name":"Needs
        Attention","type":"needsattention","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2018-09-05T13:21:12Z"},{"id":2306056,"name":"Drafts","type":"drafts","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2018-09-05T13:52:01Z"},{"id":2306057,"name":"Assigned","type":"assigned","userId":0,"totalCount":1,"activeCount":1,"modifiedAt":"2018-09-05T13:21:12Z"},{"id":2306059,"name":"Closed","type":"closed","userId":0,"totalCount":1,"activeCount":0,"modifiedAt":"2018-09-05T13:52:01Z"},{"id":2306058,"name":"Spam","type":"spam","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2018-09-05T13:21:12Z"}]}'
  recorded_at: Wed, 05 Sep 2018 13:55:12 GMT
recorded_with: VCR 4.0.0
