---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/users/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YTIwZjRhZWViN2I3N2MzNzk4MWI2MTE1MzA3NmFjZTVjODg4OTNkYjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Correlation-ID:
      - fd284b05-5216-418a-966c-99d852880139#7092977
      X-RateLimit-Interval-burst:
      - '5'
      X-RateLimit-Interval-minute:
      - '60'
      X-RateLimit-Limit-burst:
      - '12'
      X-RateLimit-Limit-minute:
      - '200'
      X-RateLimit-Remaining-burst:
      - '12'
      X-RateLimit-Remaining-minute:
      - '198'
    body:
      encoding: ASCII-8BIT
      string: '{"item":{"id":308775,"firstName":"chakrit","lastName":"wichian","fullName":"chakrit
        wichian","email":"helpscouttest@chakrit.net","role":"owner","timezone":"UTC","photoUrl":null,"type":"user","companyId":87143,"createdAt":"2018-09-05T13:20:45Z","modifiedAt":"2018-09-05T13:20:46Z"}}'
  recorded_at: Wed, 05 Sep 2018 13:54:24 GMT
recorded_with: VCR 4.0.0
