---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/users/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"item":{"id":120780,"firstName":"Chakrit","lastName":"Wichian","fullName":"Chakrit
        Wichian","email":"helpscout@chakrit.net","role":"owner","timezone":"Asia/Bangkok","photoUrl":null,"type":"user","companyId":46155,"createdAt":"2016-05-12T09:52:30Z","modifiedAt":"2016-05-13T10:01:10Z"}}'
  recorded_at: Fri, 13 May 2016 10:07:30 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/users/120780.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"item":{"id":120780,"firstName":"Chakrit","lastName":"Wichian","fullName":"Chakrit
        Wichian","email":"helpscout@chakrit.net","role":"owner","timezone":"Asia/Bangkok","photoUrl":null,"createdAt":"2016-05-12T09:52:30Z","modifiedAt":"2016-05-13T10:01:10Z","type":"user"}}'
  recorded_at: Fri, 13 May 2016 10:07:31 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/users.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"count":1,"items":[{"id":120780,"firstName":"Chakrit","lastName":"Wichian","fullName":"Chakrit
        Wichian","email":"helpscout@chakrit.net","role":"owner","timezone":"Asia/Bangkok","photoUrl":null,"createdAt":"2016-05-12T09:52:30Z","modifiedAt":"2016-05-13T10:01:10Z","type":"user"}]}'
  recorded_at: Fri, 13 May 2016 10:07:33 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/mailboxes/74251/users.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"count":1,"items":[{"id":120780,"firstName":"Chakrit","lastName":"Wichian","fullName":"Chakrit
        Wichian","email":"helpscout@chakrit.net","role":"owner","timezone":"Asia/Bangkok","photoUrl":null,"createdAt":"2016-05-12T09:52:30Z","modifiedAt":"2016-05-13T10:01:10Z","type":"user"}]}'
  recorded_at: Fri, 13 May 2016 10:07:35 GMT
recorded_with: VCR 3.0.1
