---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=ec62c7106042406e80686fca3a80bec1&client_secret=9d51b66663914cf9a082470ac078c0f5&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"7804d9935bc54b158005d0ea1e67463c","expires_in":7200}

'
  recorded_at: Wed, 05 Jun 2019 10:23:16 GMT
[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/users/382693
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - c134d022-ecd9-4668-a1f0-5ec26c2b1f78#6108051
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '395'
    body:
      encoding: UTF-8
      string: '{"id":382693,"firstName":"Phureewat","lastName":"Aphibansri","email":"a.phureewat@gmail.com","role":"owner","timezone":"Asia/Bangkok","createdAt":"2019-05-29T06:48:39Z","updatedAt":"2019-06-05T10:14:49Z","type":"user","_links":{"self":{"href":"https://api.helpscout.net/v2/users/382693"}}}'
  recorded_at: Wed, 05 Jun 2019 10:23:18 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#6020770
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '394'
    body:
      encoding: UTF-8
      string: '{"id":382693,"firstName":"Phureewat","lastName":"Aphibansri","email":"a.phureewat@gmail.com","role":"owner","timezone":"Asia/Bangkok","createdAt":"2019-05-29T06:48:39Z","updatedAt":"2019-06-05T10:14:49Z","type":"user","companyId":96696,"_links":{"self":{"href":"https://api.helpscout.net/v2/users/382693"}}}'
  recorded_at: Wed, 05 Jun 2019 10:23:19 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/users?email=a.phureewat%40gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#6020781
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '393'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"users":[{"id":382693,"firstName":"Phureewat","lastName":"Aphibansri","email":"a.phureewat@gmail.com","role":"owner","timezone":"Asia/Bangkok","createdAt":"2019-05-29T06:48:39Z","updatedAt":"2019-06-05T10:14:49Z","type":"user","_links":{"self":{"href":"https://api.helpscout.net/v2/users/382693"}}}]},"_links":{"first":{"href":"https://api.helpscout.net/v2/users?email=a.phureewat@gmail.com&page=1"},"last":{"href":"https://api.helpscout.net/v2/users?email=a.phureewat@gmail.com&page=1"},"page":{"href":"https://api.helpscout.net/v2/users?email=a.phureewat@gmail.com"},"self":{"href":"https://api.helpscout.net/v2/users?email=a.phureewat@gmail.com"}},"page":{"size":50,"totalElements":1,"totalPages":1,"number":1}}'
  recorded_at: Wed, 05 Jun 2019 10:23:20 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/users?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#55743734
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '392'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"users":[{"id":382693,"firstName":"Phureewat","lastName":"Aphibansri","email":"a.phureewat@gmail.com","role":"owner","timezone":"Asia/Bangkok","createdAt":"2019-05-29T06:48:39Z","updatedAt":"2019-06-05T10:14:49Z","type":"user","_links":{"self":{"href":"https://api.helpscout.net/v2/users/382693"}}}]},"_links":{"first":{"href":"https://api.helpscout.net/v2/users/?page=1"},"last":{"href":"https://api.helpscout.net/v2/users/?page=1"},"page":{"href":"https://api.helpscout.net/v2/users/"},"self":{"href":"https://api.helpscout.net/v2/users/"}},"page":{"size":50,"totalElements":1,"totalPages":1,"number":1}}'
  recorded_at: Wed, 05 Jun 2019 10:23:21 GMT
recorded_with: VCR 5.0.0
