---
http_interactions:
- request:
    method: post
    uri: https://api.helpscout.net/v2/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=ec62c7106042406e80686fca3a80bec1&client_secret=9d51b66663914cf9a082470ac078c0f5&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"583f937ae0904e9087ffa6055afe1d60","expires_in":7200}

'
  recorded_at: Wed, 05 Jun 2019 10:18:46 GMT
[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/866372793
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#55739202
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '399'
    body:
      encoding: UTF-8
      string: '{"id":866372793,"number":152,"threads":3,"type":"email","folderId":2986322,"status":"active","state":"published","subject":"Software
        Clown #1: be more careful when you know less","preview":"I can imagine when
        you want some attribute to be only readable, or be writable and readable,
        but not when you want an attribute to be writable and not readable.","mailboxId":185191,"createdBy":{"id":382693,"type":"user","first":"Phureewat","last":"Aphibansri","email":"a.phureewat@gmail.com"},"createdAt":"2019-05-30T14:05:25Z","closedBy":0,"userUpdatedAt":"2019-05-30T14:14:06Z","customerWaitingSince":{"time":"2019-05-30T14:14:06Z","friendly":"5
        days ago"},"source":{"type":"web","via":"user"},"tags":[],"cc":[],"bcc":[],"primaryCustomer":{"id":259532077,"type":"customer","first":"","last":"","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/03.png","email":"kenneth.ro.m1.919.92@gmail.com"},"customFields":[],"_links":{"closedBy":{"href":"https://api.helpscout.net/v2/users/0"},"createdByUser":{"href":"https://api.helpscout.net/v2/users/382693"},"mailbox":{"href":"https://api.helpscout.net/v2/mailboxes/185191"},"primaryCustomer":{"href":"https://api.helpscout.net/v2/customers/259532077"},"self":{"href":"https://api.helpscout.net/v2/conversations/866372793"},"threads":{"href":"https://api.helpscout.net/v2/conversations/866372793/threads/"},"web":{"href":"https://secure.helpscout.net/conversation/866372793/152"}}}'
  recorded_at: Wed, 05 Jun 2019 10:18:48 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations?mailbox_id=185191
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - c134d022-ecd9-4668-a1f0-5ec26c2b1f78#6104381
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '398'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"conversations":[{"id":871051583,"number":168,"threads":1,"type":"email","folderId":2986322,"status":"active","state":"published","subject":"Test
        Conversation","preview":"this is a  test message.","mailboxId":185191,"createdBy":{"id":259533163,"type":"customer","first":"Girl","last":"Scout","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/05.png","email":"test@example.com"},"createdAt":"2019-06-05T07:58:52Z","closedBy":0,"userUpdatedAt":"2019-06-05T07:58:52Z","customerWaitingSince":{"time":"2019-06-05T07:58:52Z","friendly":"2:58pm"},"source":{"type":"api","via":"customer"},"tags":[],"cc":[],"bcc":[],"primaryCustomer":{"id":259533163,"type":"customer","first":"Girl","last":"Scout","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/05.png","email":"test@example.com"},"customFields":[],"_links":{"closedBy":{"href":"https://api.helpscout.net/v2/users/0"},"createdByCustomer":{"href":"https://api.helpscout.net/v2/customers/259533163"},"mailbox":{"href":"https://api.helpscout.net/v2/mailboxes/185191"},"primaryCustomer":{"href":"https://api.helpscout.net/v2/customers/259533163"},"self":{"href":"https://api.helpscout.net/v2/conversations/871051583"},"threads":{"href":"https://api.helpscout.net/v2/conversations/871051583/threads/"},"web":{"href":"https://secure.helpscout.net/conversation/871051583/168"}}},{"id":871049993,"number":167,"threads":1,"type":"email","folderId"[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/866372793/threads/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - 99666b7a-fe2c-4f66-84bf-37a43d9b15d7#6017132
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '397'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"threads":[{"id":2422566376,"type":"message","status":"active","state":"published","action":{"type":"original-author"},"body":"I
        can imagine when you want some attribute to be only readable, or be writable
        and readable, but not when you want an attribute to be writable and not readable.<br
        />","source":{"type":"web","via":"user"},"customer":{"id":259532077,"first":"","last":"","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/03.png","email":"kenneth.ro.m1.919.92@gmail.com"},"createdBy":{"id":382693,"type":"user","first":"Phureewat","last":"Aphibansri","email":"a.phureewat@gmail.com"},"assignedTo":{"id":1,"first":"Help","last":"Scout","email":"none@nowhere.com"},"savedReplyId":0,"to":[],"cc":[],"bcc":[],"createdAt":"2019-05-30T14:14:06Z","_embedded":{"attachments":[{"id":196819958,"filename":"hello.txt","mimeType":"text/plain","width":0,"height":0,"size":12,"_links":{"data":{"href":"https://api.helpscout.net/v2/conversations/866372793/attachments/196819958/data"},"self":{"href":"https://api.helpscout.net/v2/conversations/866372793/attachments/196819958"},"web":{"href":"https://secure.helpscout.net/file/196819958/3da50d826ba36d735824279d447c3e3a5fcdfa67/hello.txt"}}}]},"_links":{"assignedTo":{"href":"https://api.helpscout.net/v2/users/1"},"createdByUser":{"href":"https://api.helpscout.net/v2/users/382693"},"customer":{"href":"https://api.helpscout.net/v2/customers/2[...]
- request:
    method: post
    uri: https://api.helpscout.net/v2/conversations
    body:
      encoding: UTF-8
      string: '{"type":"email","subject":"Test Conversation","status":"active","mailboxId":185191,"customer":{"firstName":"Girl","lastName":"Scout","email":"test@example.com"},"threads":[{"customer":{"firstName":"Girl","lastName":"Scout","email":"test@example.com"},"type":"note","text":"this
        is a test note."},{"customer":{"firstName":"Girl","lastName":"Scout","email":"test@example.com"},"type":"customer","text":"this
        is a <strong>test</strong> message."}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Correlation-ID:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#55739271
      Location:
      - https://api.helpscout.net/v2/conversations/871140078
      Resource-ID:
      - '871140078'
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '395'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Jun 2019 10:18:53 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/mailboxes/185191
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - c134d022-ecd9-4668-a1f0-5ec26c2b1f78#6104431
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '394'
    body:
      encoding: UTF-8
      string: '{"id":185191,"name":"GirlScout Development","slug":"3e9ee0d6af2b89e5","email":"kenneth.ro.m1.919.92@gmail.com","createdAt":"2019-05-30T11:42:09Z","updatedAt":"2019-05-30T14:03:35Z","_links":{"fields":{"href":"https://api.helpscout.net/v2/mailboxes/185191/fields/"},"folders":{"href":"https://api.helpscout.net/v2/mailboxes/185191/folders/"},"self":{"href":"https://api.helpscout.net/v2/mailboxes/185191"}}}'
  recorded_at: Wed, 05 Jun 2019 10:18:54 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations?status=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - c134d022-ecd9-4668-a1f0-5ec26c2b1f78#6104460
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-m[...]
[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations/871140078/threads/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#55740858
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
      - '398'
    body:
      encoding: UTF-8
      string: '{"_embedded":{"threads":[{"id":2436463762,"type":"customer","status":"active","state":"published","action":{"type":"default"},"body":"this
        is a <br><strong>test</strong> message.","source":{"type":"api","via":"customer"},"customer":{"id":259533163,"first":"Girl","last":"Scout","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/05.png","email":"test@example.com"},"createdBy":{"id":259533163,"type":"customer","first":"Girl","last":"Scout","photoUrl":"https://d33v4339jhl8k0.cloudfront.net/customer-avatar/05.png","email":"test@example.com"},"to":[],"cc":[],"bcc":[],"createdAt":"2019-06-05T10:18:53Z","_embedded":{"attachments":[]}[...]
[...]
- request:
    method: get
    uri: https://api.helpscout.net/v2/conversations?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/hal+json;charset=UTF-8
      Correlation-ID:
      - d48eb0d4-12dd-4181-9b4b-75d29145fd98#55741302
      X-RateLimit-Limit-minute:
      - '400'
      X-RateLimit-Remaining-minute:
     [...]
