---
http_interactions:
- request:
    method: get
    uri: https://api.helpscout.net/v1/mailboxes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"count":1,"items":[{"id":74251,"slug":"43cee9558b79f5c2","name":"Support","email":"support@chakrit.net","createdAt":"2016-05-12T09:53:06Z","modifiedAt":"2016-05-12T09:53:25Z"}]}'
  recorded_at: Fri, 13 May 2016 10:06:51 GMT
- request:
    method: get
    uri: https://api.helpscout.net/v1/mailboxes/74251.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MmRiYjY4Y2FjNjY4M2Y3NTI4OTk2YzBiNjEzY2E3MWI2ODc2OTcwZjpY
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"item":{"id":74251,"slug":"43cee9558b79f5c2","name":"Support","email":"support@chakrit.net","folders":[{"id":890431,"name":"Unassigned","type":"open","userId":0,"totalCount":2,"activeCount":2,"modifiedAt":"2016-05-12T09:53:25Z"},{"id":890437,"name":"Mine","type":"mine","userId":120780,"totalCount":1,"activeCount":1,"modifiedAt":"2016-05-12T09:53:06Z"},{"id":890432,"name":"Needs
        Attention","type":"needsattention","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2016-05-12T09:53:06Z"},{"id":890433,"name":"Drafts","type":"drafts","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2016-05-12T09:53:06Z"},{"id":890434,"name":"Assigned","type":"assigned","userId":0,"totalCount":1,"activeCount":1,"modifiedAt":"2016-05-12T09:53:06Z"},{"id":890436,"name":"Closed","type":"closed","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2016-05-12T09:53:06Z"},{"id":890435,"name":"Spam","type":"spam","userId":0,"totalCount":0,"activeCount":0,"modifiedAt":"2016-05-12T09:53:06Z"}],"createdAt":"2016-05-12T09:53:06Z","modifiedAt":"2016-05-12T09:53:25Z"}}'
  recorded_at: Fri, 13 May 2016 10:06:53 GMT
recorded_with: VCR 3.0.1
